*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}
body{ 
    position:relative;
    margin:auto;
    background-image: url('../Images/background-destination-desktop.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
header{ 
    padding:2rem 0 3rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
.header-logo{ 
    align-self: center;
}
.nav-2{ 
    border-bottom:solid 2px white;
}
.hr{ 
    margin-left: 60px;
    /* position: absolute; */
    /* width:50%; */
    z-index: 999;
    height:.1vh;
    /* align-self: center; */
    flex-grow: 1;
    background-color: grey;
}
.navigation ul{ 
    background:linear-gradient(to right,hsla(215,11%,35%,1),hsla(217,23%,18%,1));
    padding: 1.5rem 3.5rem 1.5rem 2.5rem;
    margin-left:-30px;
}
.navigation ul li{
    display: inline;
    padding: .5rem .6rem; 
    /* margin-left:0px; */
}
.navigation ul li a{ 
    word-spacing: 5px;
    text-decoration: none;
    color:white;
    font-size: .65rem;
    padding-bottom: 1.4rem;
}
.navigation ul li a:hover{ 
    border-bottom: solid 2px white;
}
.navigation-number{ 
    font-weight:bold;
}