* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Inter", sans-serif;
}
body {
  margin: auto;
  height: 100vh;
  padding: 1rem;
  background: url("/Images/background-technology-mobile.jpg") no-repeat;
  background-size: cover;
}
ul {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}
.menuToggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon-close {
  /* position: absolute; */
  display: none;
}
.menuToggle.active .icon-close {
  display: flex;
  z-index: 10;
}
hr {
  display: none;
}

.menuToggle.active .hamburger {
  display: none;
}
.header-text {
  padding: 0 2.5rem;
  margin-top: 0.5rem;
  font-size: 0.85rem;
}
.header-text-01 {
  margin-right: 1rem;
}
main {
  width: 100%;
  height: 75vh;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tech-image-1 {
  /* height: 5; */
  width: 100%;
}
.slider {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.button-slider {
  width: 3rem;
  margin: 0 1rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50%;
  outline: none;
  border: solid 2px grey;
  background-color: transparent;
  cursor: pointer;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 0rem 0rem;
}
.article-header {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
}
.article-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}
.article-text {
  font-size: 0.82rem;
  /* line-height: 18px; */
  text-align: center;
}
.btn-1 {
  background-color: #fff;
  border: none;
  color: #0b0e17;
}
.menuToggle.active ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #363942;
  height: 50%;
  width: 100%;
  border-radius: 5px;
}
.menuToggle.active ul li {
  list-style-type: none;
  margin-top: 1.5rem;
}
.menuToggle.active ul li a {
  font-size: 1rem;
  text-decoration: none;
}
.list-number {
  display: none;
}
.desktop-only {
  display: none;
}

@media screen and (min-width: 450px) {
  .article-text {
    font-size: 1rem;
  }
  /* .header-text{ 
          font-size: 1rem;
      } */
}
@media screen and (min-width: 575px) {
  body {
    background: url("/Images/background-technology-tablet.jpg") no-repeat;
    background-size: cover;
  }
  .hamburger,
  .icon-close {
    display: none;
  }
  .menuToggle ul {
    display: flex;
    list-style-type: none;
    background-color: #131522;
    padding: 0 3rem 0 2rem;
    margin-right: -1rem;
    /* width: 100%; */
  }
  .menuToggle ul li {
    margin-left: 1.5rem;
    padding: 2rem 0;
  }
  .menuToggle ul li a {
    padding: 1.9rem 0;
    text-decoration: none;
    font-size: 0.8rem;
  }
  .menuToggle ul li a:hover {
    border-bottom: solid 2px white;
  }
  header {
    padding: 0;
    margin-top: -1rem;
  }
  .logo {
    align-self: center;
  }
  .technology-link {
    border-bottom: solid 2px white;
  }
  .desktop-only {
    display: none;
  }
  hr {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  body {
    max-width: 1500px;
    margin: auto;
    background: url("/Images/background-technology-desktop.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  header {
    padding: 1rem 0.1rem;
    margin-top: 0;
  }
  .links-wrapper {
    display: flex;
    width: 100%;
  }
  hr {
    display: block;
    width: 100%;
    height: 1px;
    margin-left: 1.75rem;
    background-color: grey;
    align-self: center;
    opacity: 0.5;
    margin-right: -1rem;
    z-index: 10;
  }
  .list-number {
    display: inline;
    margin-right: 1rem;
    font-weight: bold;
  }
  .menuToggle ul li {
    /* width: 5.7rem; */
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
  .menuToggle ul li a {
    display: flex;
    font-size: 0.65rem;
  }
  .menuToggle ul {
    padding: 0 4rem 0 1rem;
  }
  .header-text {
    margin-left: 1.5rem;
  }
  main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
  }
  article {
    justify-content: center;
    padding: 0;
    margin-right: 1rem;
    align-items: unset;
  }
  .slider {
    display: flex;
    flex-direction: column;
    /* position: absolute;
      left: 0;
      top: 21%; */
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 0;
  }
  .button-slider {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 1.4rem;
  }

  .article-text {
    text-align: left;
  }
  .article-header,
  .article-title,
  .article-text {
    margin-left: 0.5rem;
  }
  .article-text {
    width: 21rem;
    font-size: 0.85rem;
    line-height: 27px;
  }
  figure {
    display: flex;
    margin-right: -1rem;
  }
  .tech-image-1 {
    align-self: center;
    /* width: auto; */
    /* height: 25rem; */
  }
  .article-header {
    font-size: 1rem;
  }
  .article-title {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 2.3rem;
  }
  .sn {
    display: none;
  }

  .new-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 900px) {
  .tech-image-1 {
    height: 25rem;
  }
}
