*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
    color: #fff;
    font-family: 'Inter',sans-serif;
}
body{ 
    margin: auto;
    padding:1rem;
    height:100vh;
    background:url('/Images/background-crew-mobile.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
}
header{ 
    display:flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
hr{ 
    display: none;
}
.sn{ 
    display: none;
}
.menuToggle{ 
    width: 2.1875rem;
    height:2.1875rem;
}
.menuToggle ul { 
    display: none;
}
.menuToggle{ 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-close{ 
    position: absolute;
    display: none;
}
h5{ 
    font-size:.9rem;
    
}
.header-text{ 
    display: flex;
    justify-content: space-around;
    width:14rem;
    font-size: .8rem;
    margin-bottom: 2.5rem;
    padding-left: 3.5rem;

}
main{ 
    width: 100%;
    margin-top:4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
figure{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.crew-image-1{ 
    width:65%;
    height:65%;
    margin-bottom: 1.5rem;
}
.slider{ 
    width: 5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.slider-toggle{ 
    width:10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: #50545d;
    color: #50545d;

}
.slider-toggle:hover{ 
    cursor: pointer;
}
.toggle-4{ 
    background-color: #fafafc;
}
article h4{ 
    color: #7b7e85;
    text-align: center;
    margin-bottom: 1rem;
}
article h3{ 
    text-align: center;
    margin-bottom:1rem;
    font-size: 1.5rem;
    font-weight: 400;
}
article p { 
    text-align: center;
    font-size: .85rem;
    line-height: 16px;
    /* letter-spacing: 2px; */
    /* /* color: #7f8190; */
} 
.menuToggle.active .hamburger{ 
    display: none;
}
.menuToggle.active .icon-close{ 
    display: block;
    z-index: 1;
    /* margin-right: 1rem; */
}
.menuToggle.active ul{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    background: linear-gradient( to right, hsla(215, 11%, 35%, 1), hsla(217, 23%, 18%, 1) );
    width: 100%;
    height: 50%;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}
.menuToggle.active ul li { 
    display: inline-block;
    /* width: 100%; */

    margin-top:2rem;
    font-size: 1rem;
}
.menuToggle.active ul li a{ 
    font-size: 1.3rem;
    text-decoration: none;
}



/* Media Queries */

@media screen and (min-width:575px) {
    body{ 
        background: url('/Images/background-crew-tablet.jpg') no-repeat;
        background-size: cover;
    }
    .hamburger,.icon-close{ 
        display: none;
    }
    .menuToggle{ 
        margin-right:-1rem;
        width: 30rem;
        height: 4.5rem;
       background: linear-gradient( to right, hsla(215, 11%, 35%, 1), hsla(217, 23%, 18%, 1) );
       justify-content: unset;
    }
   .menuToggle ul{

        display: flex;
        margin-left: 1.5rem;
        /* width: 50%; */
        justify-content: space-around;
    }
    .menuToggle ul li{ 
        list-style-type: none;
         margin-left: 1.5rem;
    }
    .menuToggle ul li a{ 
        font-size: .65rem;
        text-decoration: none;
        width: 4rem;
        padding-bottom: 1.5rem;
        /* border: solid 2px green; */
        outline: none;
        transition: border .2s;
       word-spacing: 2px;
    }
    .menuToggle ul li a:hover{ 
        border-bottom: solid 2px #fff;
    }
    .crew-link{ 
        border-bottom: solid 2px #fff;
    }
    main,figure{ 
        flex-direction: column-reverse;
    }
        header{ 
            margin-top:-1rem;
            margin-bottom: 3.5rem;
            /* padding:1rem; */
            height: 4rem;
        }
        .logo{
             align-self: center;
             
        }
        .sn{ 
            display: inline;
            font-weight: bold;
        }
        .header-text {
            margin-bottom:1.5rem;
        }
        .alt-text-1{ 
            color:#7b7e85;
        }
        main{ 
            margin-top: 3rem;
        }
        article h4{ 
            margin-bottom: .5rem;
        }
        article h3 { 
            color: #fff;
        }
        article p{ 
            padding: .5rem 3rem;
            height: 4rem;
            font-size: .75rem;
            letter-spacing: normal;
        }
        .crew-image-1{ 
            /* height: 55%;
            width: 55%; */
         margin-bottom: 0;
        }
        article{ 
            margin-bottom: 1.5rem;
        }
        figure{
            width: 90%;
            margin-top:.5rem;
        }
}
@media screen and (min-width:634px) {

    
}
@media screen and (min-width:767px) {
        body{ 
            background: url('/Images/background-crew-desktop.jpg');
            background-size: cover;
            position: relative;
            margin: auto;
            max-width: 1500px;
        }
        hr{ 
            display: block;
            flex-grow: 1;
            height: .1vh;
            opacity: .3;
            align-self: center;
            margin-left: 1.75rem;
            margin-right: -1.5rem;
            z-index: 999;
            background-color: grey;
        }
        .links-wrapper{ 
            display: flex;
            flex-grow: 1;
        }
        
        header{ 
            height: 7rem;
            padding: 1rem 0;
            margin-top: 0;
        }
        main,figure{ 
            flex-direction: row-reverse;
        }
        main{ 
            position: relative;
            height: 55%;
        }
        figure{ 
            width: 100%;
        }
        .slider{ 
            position: absolute;
            left: 0;
            top: 88%;
            margin-left: 4.5rem;
            justify-content: space-around;

        }
        article h3{ 
            font-size: 2.5rem;
        }
        article h3,
        article h4{ 
            text-align: left;
            margin-left: 4.5rem;
        }
        article p {
            text-align: left;
            padding: 0;
            margin-left: 4.5rem;
        }
        /* .crew-image-1{ 
            width: 100%;
            height: 100%;
        } */
    
}
