*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
    color: #fff;
    font-family: 'Inter',sans-serif;
}
body{ 
    margin: auto;
    padding:1rem;
    height:100vh;
    background:url('/Images/background-crew-mobile.jpg') no-repeat;
    background-size: cover;
}
header{ 
    display:flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.menuToggle{ 
    width: 35px;
    height:35px;
}
.menuToggle ul { 
    display: none;
}
.menuToggle{ 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-close{ 
    position: absolute;
    display: none;
}
h5{ 
    font-size:.9rem;
    
}
.header-text{ 
    display: flex;
    justify-content: space-around;
    width:12rem;
    font-size: .8rem;
    margin-bottom: 2.5rem;

}
main{ 
    width: 100%;
    margin-top:4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
figure{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.crew-image-1{ 
    width:65%;
    height:65%;
    margin-bottom: 1.5rem;
}
.slider{ 
    width: 24%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.slider-toggle{ 
    width:10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: #50545d;
    color: #50545d;

}
.toggle-4{ 
    background-color: #fafafc;
}
article h4{ 
    color: #7b7e85;
    text-align: center;
    margin-bottom: 1rem;
}
article h3{ 
    text-align: center;
    margin-bottom:1rem;
    font-size: 1.5rem;
    font-weight: 100;
}
article p { 
    text-align: center;
    font-size: .85rem;
    line-height: 16px;
    letter-spacing: 2px;
    /* /* color: #7f8190; */
} 
.menuToggle.active .hamburger{ 
    display: none;
}
.menuToggle.active .icon-close{ 
    display: block;
    z-index: 1;
}
.menuToggle.active ul{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    background: linear-gradient( to right, hsla(215, 11%, 35%, 1), hsla(217, 23%, 18%, 1) );
    width: 100%;
    height: 50%;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}
.menuToggle.active ul li { 
    display: inline-block;
    /* width: 100%; */

    margin-top:2rem;
    font-size: 1rem;
}
.menuToggle.active ul li a{ 
    font-size: 1.3rem;
    text-decoration: none;
}



/* Media Queries */

@media screen and (min-width:575px) {
    body{ 
        background: url('/Images/background-crew-tablet.jpg') no-repeat;
        background-size: cover;
    }
    .hamburger,.icon-close{ 
        display: none;
    }
    .menuToggle{ 
        width: 50%;
    }
   .menuToggle ul{ 
        display: flex;
        /* margin-left: 20px; */
        width: 50%;
        justify-content: space-around;
    }
    .menuToggle ul li{ 
        list-style-type: none;

    }

}
